services:
  - type: web
    name: all-in-one-tools-backend
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    envVars:
      - key: JWT_SECRET
        generateValue: true
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
